<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>반응형 웹 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Axios 라이브러리 로드 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<!-- <header></header> -->
<div class="wrapper">
    <div class="cover">
        <div class="cover-slides">
            <img src="{{ url_for('static', filename='images/cover1.png') }}">
        </div>
        <div class="cover-title">
            <h1>
                Python<br/>
                <strong>Crawling</strong>
            </h1>
        </div>
    </div>
</div>

<!-- main은 전체 페이지 중에서 단 하나만 있을 수 있는 마크업-->
<main class="contents">
    <div class="wrapper">
        <div class="no-grid">
            <ul class="tabs">
                <li class="tab active" onclick="showTab('youtube')">유튜브 크롤링</li>
                <li class="tab" onclick="showTab('naver')">네이버 뉴스 크롤링</li>
            </ul>
        </div>
        <!-- 통합된 폼 -->
        <form class="searchForm">
            <div id="youtube" class="tab-content active">
                <select class="select-box" name="youtubeType">
                    <option value="1">광고</option>
                    <option value="2">쇼츠</option>
                    <option value="3">영상</option>
                </select>
                <input type="text" class="text-input" name="youtubeInput" placeholder="Enter YouTube search query">
                <button id="youtubeButton">검색</button>
            </div>

            <div id="naver" class="tab-content">
                <select class="select-box" name="naverType">
                    <option value="100">정치</option>
                    <option value="101">경제</option>
                    <option value="102">사회</option>
                    <option value="103">생활/문화</option>
                    <option value="105">IT/과학</option>
                </select>
                <input type="text" class="text-input" name="naverInput" placeholder="Enter text here">
                <button id="crawlingButton">검색</button>
            </div>
        </form>

        <div id="grid-div"> <!-- youtube 크롤링의 결과셋은 해당 div에서 표시-->
            <div id="loadingSpinner" class="spinner" style="display: none;"></div>
        </div>

        <!-- 네이버 뉴스 크롤링에 대한 값은 해당 부분에 뿌려주기-->
        <div id="naverResults">
            <div id="naver-articles" style="margin-top:30px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;"></div> <!-- 기사 목록을 위한 div -->
        </div>

        </div>
        <div id="loading" style="display: none;">
            <div class="spinner"></div>
        </div>
    </div>
</main>


<!-- <footer></footer> -->
<!-- main.js 파일 불러오기 -->
<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</body>
</html>